$font-primary: "Poppins", Arial, sans-serif;

$black: #000;
$white: #fff;
$grey: #ccc;
$orange: #f26122;
$darkblue: #114e7f;
$green: #74b741;
$darkgreen: #008516;
$red: red;

$iphone5se-width: 320px;
$galaxys5-width: 360px;
$pixel2-width: 411px;
$tablet-width: 768px;
$desktop-width: 1024px;

body {
  font-family: $font-primary;
  background-color: $white;
}

.navigasi {
  background-color: $orange;
  height: 40px;
  justify-content: center;

  .col {
    text-align: center;
  }

  i {
    color: $white !important;
    padding: 0px 50px;
  }

  span {
    color: $white !important;
  }
}

h5 {
  color: $white;
  font-size: 14px;
  small {
    font-size: 11px;
    color: $white;
  }
}

.pp {
  width: 60px;
}

.usercard {
  border: 1 solid $white;
  border-radius: 6px;
}

.huruf {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.text-black {
  color: $black !important;
}

.bg-blue {
  background-color: $darkblue;
  color: $white;
}

.bg-green {
  background-color: $green;
  color: $white;
}

.bg-orange {
  background-color: $orange;
  color: $white;
}

.text-kecil {
  color: $black;
  font-size: 12px;
}

.img-small {
  width: 100px !important;
}

.card-small-padding {
  padding: 5px 10px !important;

  label {
    font-size: 12px;
  }
}

.text-green {
  color: $darkgreen;
}

.card {
  p {
    small {
      font-size: 18px;
    }
  }
}
